<!doctype html>
<title>jReadability フィードバックビューア</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>

<script>
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
  });
</script>

<div class=page>
  <h1>jReadability フィードバックビューア</h1>
  <div class=metanav>
  {% if session.logged_in %}
    <a href="{{ url_for('logout') }}">ログアウト</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>